@if (enableFormField()) {
  @if (canBeReviewed()) {
    <mat-form-field class="field">
      <mat-label>Status</mat-label>
      <mat-select
        [value]="document().status"
        (selectionChange)="changeDocumentStatus.emit({id: document().id, status: $event.value})"
      >
        @for (status of statuses(); track status) {
          <mat-option [value]="status">{{ status | getStatus }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
} @else {
  @if (canBeReviewed()) {
    <mat-select
      [value]="document().status"
      (selectionChange)="changeDocumentStatus.emit({id: document().id, status: $event.value})"
    >
      @for (status of statuses(); track status) {
        <mat-option [value]="status">{{ status | getStatus }}</mat-option>
      }
    </mat-select>
  } @else {
    <span>{{ document().status | getStatus }}</span>
  }
}
