<mat-toolbar class="toolbar">
  <img ngSrc="images/logo.png" alt="EasyDocs" class="logo" width="35" height="35">

  <a routerLink="/">
    <span class="title lb">EasyDocs</span>
  </a>

  <button mat-button [matMenuTriggerFor]="menu" class="user-menu">
    <mat-icon>person</mat-icon>
    <span class="smb">{{ user()?.fullName }}</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

