<app-back-button (click)="toDocumentsList()"></app-back-button>

<mat-card class="container">
  <mat-card-title>Document creation</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="create()" class="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        @for (status of statuses; track status) {
          <mat-option [value]="status">{{ status }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <file-pond
      #myPond
      [options]="pondOptions"
      (onaddfile)="pondHandleAddFile($event)"
    >
    </file-pond>

    <button mat-flat-button>Create</button>
  </form>
</mat-card>
