<app-back-button (click)="toDocumentsList()"></app-back-button>

<mat-card class="container">
  <mat-card-title>Document view</mat-card-title>
  @if (loading()) {
    <app-loader class="loader"></app-loader>
  }
  @if (document(); as document) {
    <form [formGroup]="form" (ngSubmit)="save()" class="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <div>
        Status: {{ document.status }}
      </div>

      <button mat-flat-button>Save</button>
    </form>
  }
</mat-card>
