<mat-card class="container">
  <h1>Document view</h1>
  @if (loading()) {
    <app-loader class="loader"></app-loader>
  }
  @if (document(); as document) {
    <form [formGroup]="form" (ngSubmit)="save()" class="form">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <div>
        Status: {{ document.status }}
      </div>
    </form>

    <mat-card-actions>
      <button mat-button (click)="toDocumentsList()">Back</button>
      <button mat-flat-button>Save</button>
    </mat-card-actions>
  }
</mat-card>
