:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.card {
  min-height: 350px;
}

.loader {
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
}
