@use '@angular/material' as mat;
@use './material-theme' as theme;

@include mat.core();

html {
  @include mat.all-component-themes(theme.$light-theme);

  .custom-material-backdrop {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

:root {
  @include mat.table-overrides((
    background-color: var(--color-primary-100),
    header-headline-weight: 600,
  ));

  @include mat.card-overrides((
    elevated-container-color: var(--color-primary-100),
  ));

  @include mat.paginator-overrides((
    container-background-color: var(--color-primary-100),
  ));

  @include mat.table-overrides((
    row-item-outline-color: var(--color-primary-95),
    row-item-outline-width: 2px,
  ));

  @include mat.select-overrides((
    trigger-text-size: 14px,
  ));

  table {
    tr th.mat-mdc-header-cell {
      background-color: var(--color-primary-95);
    }
  }

  .snackbar-error {
    --mdc-snackbar-container-color: var(--color-error-100);
    --mat-snack-bar-button-color: var(--color-primary-100);
  }
}
