:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.loader {
  margin: auto;
}

.documents-container {
  display: flex;
  justify-content: center;
  background: var(--color-primary-100);
  padding: 16px;
  width: 100%;
}
