:host {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;

  .error {
    padding: 0 16px;
  }
}

.actions {
  display: flex;
  gap: 16px;
  margin-left: auto;
}
