<app-back-button (click)="toDocumentsList()"></app-back-button>

<mat-card class="card">
  <mat-card-title>Document creation</mat-card-title>

  <div [formGroup]="form" class="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">

      @if (form.controls.name.errors?.['required']) {
        <mat-error>{{ 'Document' | requiredError }}</mat-error>
      }
      @if (form.controls.name.errors?.['maxlength']) {
        <mat-error>
          {{ 'Document name' | maxLengthError: form.controls.name }}
        </mat-error>
      }
    </mat-form-field>

    <div>
      <file-pond
        #myPond
        [options]="pondOptions"
        (onaddfile)="pondHandleAddFile($event)"
        (onremovefile)="pondHandleRemoveFile()"
      >
      </file-pond>

      @if (form.controls.file['touched'] && form.controls.file.errors?.['required']) {
        <mat-error class="smr error">
          {{ 'Document' | requiredError }}
        </mat-error>
      }
    </div>

    <mat-card-actions class="actions">
      <button mat-button (click)="create(false)">
        <mat-icon>assignment</mat-icon>
        Save as draft
      </button>
      <button mat-flat-button (click)="create(true)">
        <mat-icon>send</mat-icon>
        Send to Review
      </button>
    </mat-card-actions>
  </div>
</mat-card>
