.card {
  position: relative;
  overflow: auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  scale: 0.7;
  z-index: 1;
}

.content {
  &.loading {
    pointer-events: none;
    opacity: 0.5;
  }

  .mat-column-name {
    font-weight: 600;
  }

  .mat-column-status {
    width: 300px;
  }

  .mat-column-updatedAt {
    width: 140px;
  }

  .mat-column-delete, .mat-column-view {
    width: 52px;
  }

  .status {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 8px;
  }

  .no-data {
    padding: 8px;
  }
}
