<mat-card class="card">
  <mat-card-title>Documents</mat-card-title>

  @if (loading()) {
    <app-loader class="loader"></app-loader>
  }

  <mat-card-content class="content" [class.loading]="loading()">
    <table
      mat-table
      [dataSource]="documents()"
      matSort
      [matSortActive]="sortActive()"
      [matSortDirection]="sortDirection()"
      class="mat-elevation-z8"
    >
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-data" [attr.colspan]="columns().length">
          No data.
        </td>
      </tr>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let doc"> {{ doc.name }}</td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated at</th>
        <td mat-cell *matCellDef="let doc"> {{ doc.updatedAt | date: 'dd.MM.yy, HH:mm' }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let doc">
          <div class="status">
            <span>{{ doc.status | getStatus }}</span>
            @if (doc | isDocumentRevokable) {
              <button mat-button (click)="revokeDocument.emit(doc.id)">
                <mat-icon>stop</mat-icon>
                Revoke
              </button>
            } @else if (doc | isDocumentReviewable) {
              <button mat-button (click)="sendDocumentToReview.emit(doc.id)">
                <mat-icon>send</mat-icon>
                Send
              </button>
            }
          </div>
        </td>
      </ng-container>

      @if (showCreatorColumn()) {
        <ng-container matColumnDef="creator">
          <th mat-header-cell *matHeaderCellDef>Creator</th>
          <td mat-cell *matCellDef="let doc">
            {{ doc.creator?.fullName }}
          </td>
        </ng-container>
      }

      @if (showReviewColumn()) {
        <ng-container matColumnDef="review">
          <th mat-header-cell *matHeaderCellDef>Review</th>
          <td mat-cell *matCellDef="let doc">
            <app-document-review
              [document]="doc"
              (changeDocumentStatus)="changeDocumentStatus.emit($event)"
            ></app-document-review>
          </td>
        </ng-container>
      }

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell
            *matCellDef="let doc"
            matTooltipPosition="above"
            [matTooltip]="!(doc | isDocumentRemovable) ? 'Only Draft and Revoked documents can be deleted' : 'Delete'">
          <button mat-icon-button
                  (click)="deleteDocument.emit(doc.id)"
                  [disabled]="!(doc | isDocumentRemovable)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef>View</th>
        <td mat-cell *matCellDef="let doc" matTooltip="View" matTooltipPosition="above">
          <button mat-icon-button (click)="viewDocument.emit(doc.id)">
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns()"></tr>
      <tr mat-row *matRowDef="let row; columns: columns();"></tr>
    </table>

    <mat-paginator
      [length]="count()"
      [pageIndex]="(filters()?.page ?? 1) - 1"
      [pageSize]="filters()?.size ?? 10"
      [pageSizeOptions]="[5, 10, 25]"
      [showFirstLastButtons]="true"
      (page)="onPaginate($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
