@use "styles/mixins" as mixins;

:host {
  display: flex;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  @include mixins.background-dots;
}
