:host {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.title {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
}

.field {
  width: 100%;
}

.link-container {
  color: var(--color-gray-40);
  margin: 8px auto 0;
}

.sign-in-button {
  width: 140px;
  height: 60px;
  margin: auto;
}
