<h1 class="title">Sign In</h1>

<form class="form" [formGroup]="signInForm" (ngSubmit)="signUp()">
  <mat-form-field class="field">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email">

    @if (signInForm.controls.email.errors?.['required']) {
      <mat-error>{{ 'Email' | requiredError }}</mat-error>
    }
    @if (signInForm.controls.email.dirty && signInForm.controls.email.errors?.['email']) {
      <mat-error>Invalid email</mat-error>
    }
    @if (signInForm.controls.email.errors?.['maxlength']) {
      <mat-error>
        {{ 'Email' | maxLengthError: signInForm.controls.email }}
      </mat-error>
    }
  </mat-form-field>
  <mat-form-field class="field">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'">

    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword.set(!hidePassword())"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword()"
    >
      <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>

    @if (signInForm.controls.password.errors?.['required']) {
      <mat-error>{{ 'Password' | requiredError }}</mat-error>
    }
    @if (signInForm.controls.password.errors?.['minlength']) {
      <mat-error>
        {{ 'Password' | minLengthError: signInForm.controls.password }}
      </mat-error>
    }
    @if (signInForm.controls.password.errors?.['maxlength']) {
      <mat-error>
        {{ 'Password' | minLengthError: signInForm.controls.password }}
      </mat-error>
    }
  </mat-form-field>

  <button mat-flat-button class="sign-in-button" [disabled]="pending()">
    Sign in
  </button>

  <p class="link-container">Don't have account yet? <a routerLink="/auth/sign-up" class="link">Sign up</a></p>
</form>
