:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  gap: 8px;
  height: 724px;

  .subtitle {
    margin-bottom: 16px;
  }

  .loader {
    margin: auto;
  }

  .content {
    display: flex;
    gap: 16px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
    margin-top: 16px;
  }

  .additional-actions {
    margin-right: auto;
  }

  .actions {
    display: flex;
    gap: 16px;
    margin-left: auto;
  }
}
